doctype html
html
  head
    title= subject
  body
    div(style="padding: 20px; color: #58A073; text-align: center;")
      img(src="http://www.dioniberica.com/assets/images/logos/logo.png", width="100")
      p(style="color: #555; text-align: left")= message

