doctype html
html
  head
    title= 'Hola'
  body
    div(style="padding: 20px; color: #58A073; text-align: center;")
      img(src="http://www.dioniberica.com/assets/images/logos/logo.png", width="100")
      h2= 'Hola'
      h4 Amount: #{amount}
